<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body class="control-page-background">

    <div class="navbar navbar-color">
        <div class="container">
            <a href="" class="display-6 text-decoration-none navbar-link-color">SRS</a>
            <ul class="navbar-nav list-group-horizontal">
                <li class="nav-item active mx-2 h5">
                    <a th:href="@{/student/profile/{id}(id=${student.id})}" class="nav-link navbar-link-color">Profile</a>
                </li>

                <li class="nav-item mx-2 h5">
                    <a th:href="@{/student/courses/{id}(id = ${student.id})}" class="nav-link navbar-link-color">My Courses</a>
                </li>

                <li class="nav-item mx-2 h5">
                    <a th:href="@{/student/course/list/{id}(id = ${student.id})}" class="nav-link navbar-link-color">All Courses</a>
                </li>

                <li class="nav-item mx-2 h5 mx-2">
                    <a href="/" class="nav-link navbar-link-color">Quit</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="container my-5">

        <table class="table table-striped">
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Course Hour</th>
                <th scope="col">Instructor</th>
                <th scope="col"> </th>
            </tr>
            <tr th:each="course: ${courses}">
                <td th:text="${course.name}"></td>
                <td th:text="${course.courseHour}"></td>
                <td th:text="${course.instructor.firstName}+' '+${course.instructor.lastName}"></td>
                <td th:switch="${coursePage}">
                    <a th:case="'ALL'" th:href="@{/student/course/save/{studentId}/{courseId}(studentId = ${student.id}, courseId = ${course.id})}"
                        class="btn btn-primary">Get Course</a>
                    <a th:case="'MY'" th:href="@{/student/course/delete/{studentId}/{courseId}(studentId = ${student.id}, courseId = ${course.id})}" class="btn btn-primary" >Delete Course</a>
                </td>
            </tr>
        </table>
    </div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>