<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" >
</head>
<body class="bg-warning container">

<div class="login-container-margin-top">

    <a href="/student/register" class="login-button m-4">Register Student</a>
    <a href="/" class="login-button m-4 float-end">Main Page</a>
    <p class="display-3 text-center">STUDENT LOGIN PAGE</p>


    <form th:action="@{/student/login}" method="POST" class="">

        <div class="div-input">
            <label for="email" th:text="#{email}" class="me-4"></label>
            <input type="email" th:object="${email}" name="email" id="email" class="form-control login-input" required autofocus>
        </div>

        <div class="div-input">
            <label for="password" th:text="#{password}" class="me-4"></label>
            <input type="password" th:object="${password}" name="password" id="password" class="form-control login-input" required autofocus>
        </div>

        <div class="login-buttons">
            <button type="submit" class="login-button m-4">Login</button>
            <input type="reset" value="Clear" class="login-button m-4 border-0">
        </div>

    </form>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>